@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-file-input {
    display: inline-block;
    background-color: #1A50B9;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}
